<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeCards - Create your own online cards</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/home.css" rel="stylesheet">
    <link href="/static/images/card.jpeg" rel="icon">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/help">Help</a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </nav>
    <div id="descript"><br><br><br><br><br><br><br><br><h1>AwesomeCards is an easy and simple way to create online cards, save them, and share them with other people.</h1></div>
    <img src="/static/images/happybirthday.png" width="40%">
    <h1 style="margin-top:500px">Features</h1><br>
    <div id="features">
      <div class="feature">Choose from many different fonts and colors.</div>
      <div class="feature">Customize the card's size and background.</div>
      <div class="feature">Save your changes with one click.</div><br>
      <div class="feature">Easily share your card with other people.</div>
      <div class="feature">Store all of your cards in one place.</div>
      <div class="feature">Don't need your card anymore? Simply delete it.</div>
    </div><br><br><br>
    <h1>Do all of this, for free.</h1><br><br><br>
    <button onclick="location.href = '/signup'" class="btn">Get Started</button>
    <br><br><br>
  </body>
</html>